@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato&display=swap');
:root {
  --d: "M 60 4.346 C 71 4.346 80 13.973 80 25.738 C 80 58.45 40 74.762 40 75.65299999999999 L 40 75.65299999999999 C 40 74.763 0 58.54 0 25.738 C 0 13.884 9 4.346 20 4.346 C 31.1 4.346 40 10.835 40 22.689 C 40 10.835 48.9 4.346 60 4.346 z";
  /* heart - original */
  --d2: "";
}

body {
  text-align: center;
}

#container {
  background-image: linear-gradient(to bottom right, #ffaaaa, #ffeeee, #ffaaaa, #fdd, #ffaaaa, #ffeeee, #ffaaaa, #fdd);
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 110vh;
}


/* 
.heart {
  position: relative;
  width: 150px;
  height: 135px;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 50%;
  height: 90%;
  background: red;
  border-radius: 50% 50% 0 0;
  transform: rotate(-45deg);
  border: 1px solid red;
  transform-origin: 0 100%;
  z-index: -1;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart-content {
  margin-bottom: 25px;
  font-size: 20px;
  font-style: italic;
}
 */

#svg-heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  position: relative;
  /* border: 1px solid red; */
}


/* .svg-heart-container:before {
  position: absolute;
  content: "I Love Lucy";
  font-size: 3em;
  font-style: italic;
  margin-bottom: 0.7em;
} */


/* #svg-heart {
  border: 1px solid orange;
} */

#inner-container {
  /* border: 1px solid green; */
  border-radius: 15px;
  position: relative;
}

svg {
  border-radius: 10px;
  box-shadow: 2px 2px 6px #444;
}

.moving-heart {
  position: absolute;
  /* Below lines it up w/ svg heart, if path scale set at 4.2, but only in full-screen mode on right-hand (Samsung) screen */
  top: 16%;
  top: 31%;
  /* after added top padding to containing div */
  left: 35%;
  /* below worked once made #inner-container position relative. */
  top: 16.2%;
  left: 16.5%;
  animation: path-animation 40s forwards;
  width: 30px;
  height: auto;
  /* offset-path: path("M179.6, 0.5c303.1, 0, 250, 400.1, 0, 400.1S-46.5, 56.8, 175.8, 56.8 c230, 0, 161.5, 292.9, 3.8, 292.9s-157.7-247.6, 0-247.6c135.4, 0, 113.1, 199.2, 0, 199.2s-97.7-153.1, 0-153.1c78.5, 0, 66.9, 114.6, 0, 114.6 s-58.5-84.6, 2.3-84.6c46.9, 0, 33.1, 56.9-2.3, 56.9c-26.2, 0-19.2-28.5, 0-28.5"); */
  /* Spiral */
  /* offset-path: path("M 60 4.346 C 71 4.346 80 13.973 80 25.738 C 80 58.45 40 74.762 40 75.65299999999999 L 40 75.65299999999999 C 40 74.763 0 58.54 0 25.738 C 0 13.884 9 4.346 20 4.346 C 31.1 4.346 40 10.835 40 22.689 C 40 10.835 48.9 4.346 60 4.346 z"); */
  /* heart - original */
  offset-path: path(var(--d));
  background-color: rgba(255, 200, 200, 0.1);
  border-radius: 50%;
  box-shadow: none;
}

.moving-heart-2 {
  position: absolute;
  /* Below lines it up w/ svg heart, if path scale set at 4.2, but only in full-screen mode on right-hand (Samsung) screen */
  top: 38%;
  top: 48%;
  left: 44%;
  /* After making #inner-container position relative */
  top: 40%;
  left: 37%;
  animation: path-animation 30s forwards;
  width: 30px;
  height: auto;
  offset-path: path(var(--d2));
  background-color: rgba(255, 200, 200, 0.1);
  border-radius: 50%;
  box-shadow: none;
}

@keyframes path-animation {
  0% {
    offset-distance: 0;
    offset-rotate: auto;
    offset-rotate: 0;
    opacity: 1;
  }
  50% {
    offset-distance: 200%;
    offset-rotate: auto;
    offset-rotate: 0;
    opacity: 1;
  }
  51% {
    offset-distance: 210%;
    offset-rotate: auto;
    offset-rotate: 0;
    opacity: 0;
  }
  100% {
    offset-distance: 300%;
    offset-rotate: auto;
    offset-rotate: 0;
    opacity: 0;
  }
}

#song {
  position: fixed;
  bottom: 2em;
  left: 10%;
  transform: translateX(-50%);
  opacity: 0.1;
}