body {
  background: #eee;
}

h1 {
  width: 10em;
  /* display: flex;
  justify-content: center; */
  margin: 20px auto;
  border: 25px groove rgba(200, 200, 200, 0.5);
  padding: 10px;
  text-align: center;
}

#iframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #eee;
}

iframe {
  margin: 50px;
  border: 15px groove rgba(200, 200, 200, 0.5);
}


/* Toasts (from 50 projects) */

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  color: rebeccapurple;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  opacity: 0.7;
  background: rgb(226, 11, 226. 0.5)
}

.toast.info {
  color: blue;
}

.toast.success {
  color: green;
}

.toast.error {
  color: red;
}