@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato&display=swap');

/* */

:root {
  --background-picture: url(./img/girl_dog_rug_cropped2.jpg);
  --background-picture-2: url(./img/girl_dog_rug_2.jpg);
  --picture-frame-background: rgba(240, 240, 240, 0.95);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

#container {
  background-image: linear-gradient(to bottom right, #ffeeee, #ffeeee, #ffdcdc, #fdd, #ffeeee, #ffeeee, #ffdcdc, #fdd);
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inner-container {
  padding-bottom: 50em;
  max-width: 1600px;
  background-image: var(--background-picture-2);
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-origin: border-box;
  border: 10px solid transparent;
  /* border-image: var(--background-picture-2) 50 round; */
}

#main {
  font-family: 'Dancing Script', sans-serif;
  font-weight: bold;
}

h1 {
  padding: 1em 0 2em;
  font-size: 54px;
  text-align: center;
  font-style: italic;
}

#main.dancing h1 {
  font-family: 'Dancing Script', Loto;
  padding: 0.6em 0 1.3em;
  font-size: 72px;
  font-style: normal;
}

.picture-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.picture-frame,
.video-frame {
  width: 450px;
  height: 450px;
  background: var(--picture-frame-background);
  /* border: 1px solid fuchsia; */
  padding: 1em 1em 0;
  margin: 0 40px 6em;
  border-radius: 8px;
  box-shadow: 2px 2px 6px #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  position: relative;
}

.picture-container,
.video-container {
  /* padding-top: 1em; */
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.picture {
  max-width: 95%;
  max-height: 95%;
}

figcaption {
  font-size: 36px;
  /* font-weight: bold; */
  text-align: center;
  width: 100%;
  /* height: 100%; */
  /* margin-bottom: 1em;
  margin: 0em 0;
  padding-bottom: 1em; */
  /* border: 1px solid blue; */
}

figcaption.large28 {
  font-size: 24px;
  font-weight: bold;
}

figcaption.large36 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

figcaption.large48 {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 0.5em;
}

figure#happy-birthday {
  width: 600px;
  height: 400px;
  /* padding-bottom: 5em; */
  /* border: 10px solid transparent;
  border-image: var(--background-picture-2) 50 round; */
  /* background-color: rgba(240, 240, 240, 0.8); */
}

#birthday-girl figcaption {
  font-family: sans-serif;
}

#happy-birthday figcaption {
  /* padding-bottom: 1.6em; */
  font-family: sans-serif;
}

#birthday-song {
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
}


/* Tiles to suppress */

#dancing-video-iframe {
  display: none;
}


/* #dancing-video-video {
  display: none;
}

#puppies {
  display: none;
} */