:root {
  --test-border-width: 0px;
  --nav-header-height: 2.2em;
  --neg-nav-header-height: calc(- --nav-header-height);
  --container-background-color: #ddd;
  --container-background-image: url(./img/meow-wolf-robot.jpg);
  --container-background-overlay: rgba(128, 128, 128, 0.0);
  --main-border-color: rgba(200, 200, 255, 0.5);
  --welcome-background-color: #fff;
  --section__header--background: rgba(239, 239, 239, 0.25);
  --section__subheader-background: rgba(239, 239, 239, 0.95);
  --section__footer-background: rgba(239, 239, 239, 0.45);
  --projects-background-standard: #EEE;
  --projects-background-transparent: rgba(239, 239, 239, 0.0);
  --projects-background-translucent: rgba(239, 239, 239, 0.25);
  --projects-background: var(--projects-background-standard);
  --project-container-desc-tile-background: rgba(239, 239, 239, 0.85);
  --rice-background: url(./img/rice-paper-gray.jpg);
  --contact-background: rgba(240, 240, 240, 0.9);
  --caption-font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  /* so won't highlight on dblclick */
  height: 2000px;
  /* ?? For pop-up desc */
  font-size: 100%;
}

strong {
  color: #111;
}

body.san-serif {
  font-family: 'Arial', sans-serif;
}

body.rice {
  background-image: var(--rice-background);
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

#container {
  display: flex;
  justify-content: center;
  position: relative;
  background: var(--container-background-color);
}

#container.back-image {
  background: var(--container-background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* To mute background image */

#container.back-image:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--container-background-overlay);
  width: 100%;
  height: 100%;
}

#main {
  max-width: 1600px;
  z-index: 2;
}

#container.border {
  border: 15px solid var(--main-border-color);
}


/* Nav Bar */

#nav-header {
  border: var(--test-border-width) solid blue;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: var(--nav-header-height);
  background-color: var(--welcome-background-color);
  z-index: 100;
  opacity: 1;
  /* Testing making only on right */
  /* took out width 100% above */
  padding-left: 2em;
  border-radius: 4px 1px 4px 4px;
  opacity: 0.8;
}

@media(min-width: 1600px) {
  #nav-header {
    top: 1em;
    right: calc(50% - 800px);
  }
  #container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

#nav-header.scrolled {
  opacity: 0.1;
  opacity: 0;
}

#nav-header.rice {
  background-image: var(--rice-background);
}

#nav-header:hover {
  opacity: 1;
}

#navbar {
  border: var(--test-border-width) solid red;
  display: flex;
  margin-top: .5em;
  /* */
  margin-right: 2%;
  justify-content: space-around;
}

.nav-item {
  margin-right: 25px;
}


/* Anchors */

a {
  color: #03A;
  text-decoration: none;
}

a:visited {
  color: rgb(5, 117, 139);
}

a:hover {
  color: #03C;
}

a:active {
  color: rgb(141, 3, 130);
  color: rgb(28, 180, 7)
}


/* Welcome */

#welcome-container {
  background-size: cover;
  padding: 0 0 5rem 0;
  padding-bottom: 1rem;
  /* margin-top: var(--nav-header-height); */
  /* With above, will have band at top of background & nav bar */
  background-image: url("./img/rice-paper-gray.jpg");
  background: var(--welcome-background-color);
}

#welcome-container.rice {
  background-image: var(--rice-background);
}

#welcome-section {
  user-select: none;
  height: 100vh;
  color: rgb(66, 5, 128);
  color: rgb(83 31 136);
  --background-cover-opacity: 0;
  --background-cover-r: 255;
  --background-cover-g: 127;
  --background-cover-b: 127;
  background: linear-gradient(to top, rgba(var(--background-cover-r), var(--background-cover-g), var(--background-cover-b), var(--background-cover-opacity)), rgba(var(--background-cover-r), var(--background-cover-g), var(--background-cover-b), var(--background-cover-opacity))), url("./img/bricktown-1.jpg"), var(--welcome-background-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section.poly {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}

#welcome-body-container {
  background: rgb(190, 190, 190);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* for making overlay on header image, I think */

.bg-container {
  overflow: hidden;
}

.bg-container img {
  height: 100%;
  width: auto;
  max-width: 100%;
  /*Makes responsive, but I prefer w/out */
  /*opacity: .85;/* w/ negative z-index seems this has to be higher to show thru? */
}

#welcome-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: calc(0.1vw + 0.8px) calc(0.1vw + 0.8px) #fff;
  color: rgb(8, 8, 145);
}


/* Below was the :hover part*/

#welcome-body {
  background-color: rgb(144, 144, 144, 0.5);
  /* some transparency */
  box-shadow: 0 0 55px 45px rgb(144, 144, 144, 0.5);
  padding: 0.8em;
  text-shadow: calc((0.1vw + 1.0px)) calc((0.1vw + 1.0px)) #fff;
  border-radius: 7px;
  transition: all 1.2s linear;
}

#welcome-body h1 {
  font-size: calc(1.5em + 2vw);
  margin-bottom: .4em;
}

#welcome-body h2 {
  font-size: calc(1.2em + 2vw);
}

@media(min-width: 1100px) {
  #welcome-body h1 {
    font-size: calc(1.5em + 1.35vw)
  }
  #welcome-body h2 {
    font-size: calc(1.2em + 1.35vw);
  }
}

.main-header-inactive {
  /* below adapted from LOTR for testing */
  border-radius: 10px;
  padding: 8px;
  --back-col: rgba(255, 200, 200, 0.3);
  background-color: var(--back-col);
  box-shadow: 0 0 60px 45px var(--back-col);
}

.logo {
  width: calc(8em + 3vw);
  /* keeps it in line w/ size of header? */
  opacity: .85;
  margin-bottom: .7em;
  border-radius: 10%;
  box-shadow: 0 0 16px 1px #8B8;
}


/* Projects */

.section {
  padding-top: 1.5em;
  padding-bottom: 1.95em;
  /* t */
}

.section__header {
  text-align: center;
  font-size: 2.5em;
  font-size: 2.32em;
  font-weight: bold;
  margin: .6em;
  margin-bottom: 1.2em;
  margin-bottom: 1.4em;
  /* t */
  padding: 0;
  /* Below is new. To see if can have transparancy by default */
  /* May have to adjust in media query too */
  /* background-color: var(--section__header-background);
  padding: 0.5em 1em 0.8em 1em;
  margin: 1em;
  border-radius: 0px; */
}

.section__subheader {
  text-align: center;
  font-size: 1.3em;
  margin: 30px 30px 20px 30px;
  margin: 1.88em 1.88em 1.25em 1.88em;
  padding-bottom: 0.2em;
  /* Below is new. To see if can have transparancy by default */
  /* May have to adjust in media query too */
  background: var(--section__subheader-background);
  padding: 0.5em 1em 0.8em 1em;
  margin: 1em;
  border-radius: 0px;
}


/* To get rid of intermittent indent above FCC projects! */

.section__subheader p {
  text-align: left;
}

.section__footer {
  color: #090909;
  font-style: italic;
  font-size: 20px;
  font-size: 1.25em;
  padding: 0;
  margin: 0 1.88em 1.25em 1.88em;
  /* For having tile boxes */
  /* background: rgb(244, 247, 248);
    padding: .5em .7em; */
  /* Below is new. To see if can have transparancy by default */
  /* May have to adjust in media query too */
  background: var(--section__footer-background);
  padding: 0.5em 1em 0.8em 1em;
  margin: 1em;
  border-radius: 5px;
}

#projects {
  background: var(--projects-background);
  /* padding-top: var(--nav-header-height); */
  margin-top: var(--neg-nav-header-height);
  /* This is needed to keep from going under fixed nav header, and separate from tile container below so will not pad up with tile-container color. At least, seems to be necessary */
  padding-top: 3em;
}

.projects-inner-container {
  background: var(--projects-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.projects__inner-container h2 {
  margin-bottom: 1.5em;
}

#dynamic-sites {
  padding-top: 3rem;
  /* new. To give a bit more space from rice-paper in welcome */
}

#front-end-sites {
  padding-top: 3rem;
}

.project-container-desc-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* this was keeping desc & image from being on same line */
  margin: 2em;
  /* testing w/ borders & own background */
  /* border: 1px solid rgb(22, 21, 21);
    border: 1px solid white; */
  /* For having tile boxes */
  /* background: rgb(229, 230, 231);
    background: rgb(233, 236, 238);
    background: rgb(244, 247, 248);
    padding: 0 .7em; */
  /* Below is new. To see if can have transparancy by default */
  /* May have to adjust in media query too */
  background: var(--project-container-desc-tile-background);
  padding: 0 1em 0.8em 1em;
  margin: 1em;
  border-radius: 5px;
}

.project-container-tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project__description {
  display: flex;
  align-items: center;
  align-items: start;
  width: 60%;
  margin-top: 2em;
  margin-top: 1em;
}

.project__description__content {
  font-size: 16px;
  font-size: 20px;
  font-size: 1.25em;
}

.project__description__content__header {
  font-size: 24px;
  font-size: 1.5em;
  font-size: 1.4em;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: .2em;
  margin-top: 1em;
  margin-bottom: 1em
}

.project-tile {
  width: 30%;
  width: calc(25% + 15em);
  width: calc(28% + 10em);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  margin: 2em;
  margin-right: .5em;
}


/* Tile animations */

.project-tile.activeR {
  animation: rotY 5s ease-in;
}

.project-tile.activeF {
  animation: fadeOut 15s ease-in-out;
}

@keyframes rotY {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  30%,
  100% {
    transform: rotateY(90deg);
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20%,
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


/* Images & Captions */

.img-with-caption {
  background-color: #DDD;
  background-color: #EEE;
  background-color: rgba(219, 223, 219, 0.308);
  border: 1px solid #8A8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

.captions {
  margin-top: 5.1px;
  margin-top: .32em;
  font-size: var(--caption-font-size);
  text-shadow: 0.2px 0.2px #111;
  color: #306;
  color: #104;
  text-align: center;
  /* */
}

.img-with-caption:hover {
  /* new */
  cursor: pointer;
  opacity: .95;
  transform: scale(0.98);
  transition: all .5s ease;
}


/* Project specific styling */


/* #eratosthenes {
    background-color: hsl(178, 37%, 81%);
    background-color: #CDD;
  }
  
  #lotr-survey {
    background-color: #DDE;
  }
  
  #product-landing-page {
    background-color: #CDC;
  }
  
  #technical-documentation {
    background-color: #CCC;
  }
  
  /* Contact Section */

address {
  font-style: normal;
  /* Is set to italic in user agent stylesheet */
}

#contact {
  font-weight: bold;
  color: #202020;
  color: #151515;
  background: var(--contact-background);
  width: 100%;
  padding-top: calc(var(--nav-header-height) + 2em);
  margin-top: var(--neg-nav-header-height);
  text-align: center;
  /* margin-bottom: 50px; */
  margin-bottom: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h2 {
  margin-top: .4em;
}

#contact h3 {
  margin: 8.8px;
}

.contact__info {
  color: #101010;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 22px;
  margin: 30px;
}

#contact__links {
  margin: 4em 0 2em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

.profile-link {
  padding: 0 3em 2em;
}

.contact-me {
  margin-left: 5px;
  position: relative;
}

.phone-icon {
  color: rgb(58, 2, 58);
}

.email-icon {
  color: rgb(38, 179, 226);
  color: rgb(189, 9, 9);
}

.contact-me-message {
  position: absolute;
  left: 40px;
  top: 60%;
  /* Image of phone is not vertically centered, so 50% isn't quite right */
  transform: translateY(-50%);
  font-size: 12px;
  width: 8em;
  color: rgb(41, 41, 163);
  text-align: left;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.contact-me-message.email-me {
  left: 225px;
}

.contact-me:hover .contact-me-message {
  transition: opacity 0.8s linear;
  opacity: 1;
}


/* Project Sections Media Queries */

@media (max-width: 850px) {
  .project-container-desc-tile {
    flex-direction: column;
    width: 90%;
    margin: 1.5em;
    margin-left: 1.8em;
    /* If want centered, which it seems now I do */
    margin-left: auto;
    margin-right: auto;
  }
  .project__description {
    width: 100%;
  }
  .project__description__content {
    width: 100%;
  }
  .project__description__content__header {
    text-align: center;
  }
  .project__description__content {
    font-size: 14px;
    font-size: 20px;
  }
  .project-tile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .section__subheader {
    font-size: 16px;
    font-size: 20px;
    /* testing */
  }
}

@media (max-width: 400px) {
  .captions {
    font-size: var(--caption-small-font-size);
  }
}


/* Special Effects */

#dynamic:hover {
  color: #0200aa;
  --submit-hover-background: #180030;
  /* Dark purple */
  background-color: var(--submit-hover-background);
  color: rgb(133, 129, 189);
  padding: 10px 18px;
  padding: 5px;
  overflow: hidden;
  border: solid rgb(137, 170, 197);
  border-width: 6px 10px 8px 10px;
  box-shadow: 0 0 8px 6px rgb(88, 146, 156) inset, 5px 0 15px 15px rgb(139, 135, 135);
  /* */
  transform: scale(1.05);
  transition: all 2.2s ease;
  animation: hover-pulse 3s ease-in 2s infinite;
  /* delay does not seem to be happening */
}

#static:hover {
  color: #0200aa;
  color: rgb(14, 7, 122);
  padding: 10px 18px;
  padding: 5px;
  overflow: hidden;
  border: solid rgb(137, 170, 197);
  border-width: 6px 10px 8px 10px;
  box-shadow: 0 0 8px 6px rgb(88, 146, 156) inset, 5px 0 15px 15px rgb(139, 135, 135);
  transform: scale(1.25);
  transition: all .2s ease;
}

@keyframes hover-pulse {
  from {
    color: crimson;
    height: 150px;
    width: 250px;
    font-size: 5px;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 35px;
  }
  to {
    color: red;
    height: 155px;
    width: 265px;
    font-size: 7px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 24px;
  }
}


/* Tile Desc Popup */

.popup-before {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  opacity: 0;
  transition: all 0.75s ease;
}

.popup-before.w40 {
  width: 43%;
}

.popup-before.w50 {
  width: 50%;
}

.popup-after {
  opacity: 1;
  z-index: 10;
}